.main {
  width: 100%;
  padding: 5rem 3rem;
  background-color: #f3f3f3;
}

.modalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
