.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
}

.errorCotainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 425px) {
  .cardList {
    justify-content: center;
  }
}
