.card {
  width: 220px;
  height: 280px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  list-style: none;
  cursor: pointer;

  .cardImg {
    width: 100%;
    height: 200px;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
  }

  .avatarInfo {
    padding: 20px 10px;
  }

  .avatarName {
    font-size: 18px;
    font-weight: bold;
  }

  .avatarEmail {
    margin-top: 5px;
    font-size: 15px;
    word-break: break-all;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    width: 200px;
  }
}

@media screen and (max-width: 425px) {
  .card {
    width: 250px;
  }
}
